In [1]:
import pandas as pd
import numpy as np

In [2]:
myDictionary = {'Fruit':['Apple','Banana','Mango'],'Color':['Red','Brown','Violet']}

In [5]:
myDataFrame = pd.DataFrame(myDictionary)
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana   Brown
2   Mango  Violet