In [1]:
import pandas as pd

In [2]:
myList = [['Apple','Banana'],['Orange','Yello'],['Red','Mango']]

In [5]:
myDataFrame = pd.DataFrame(myList)
myDataFrame

        0       1
0   Apple  Banana
1  Orange   Yello
2     Red   Mango

In [8]:
myList = [['Apple','Brown'],['Orange','Yello'],['Mango','Red']]

In [9]:
myDataFrame = pd.DataFrame(myList, columns=['Fruit','Color'])
myDataFrame

    Fruit  Color
0   Apple  Brown
1  Orange  Yello
2   Mango    Red

In [10]:
import numpy as np
import pandas as pd

In [11]:
myList = [[0,1],[2,3],[4,5]]

In [14]:
myDataFrame = pd.DataFrame(myList, columns = ['even','odd'])
myDataFrame

   even  odd
0     0    1
1     2    3
2     4    5